<!DOCTYPE html>
<html>
  <head>
    <title>WickedPdfJvectormap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" media="all" href="http://jvectormap.com/css/jquery-jvectormap-2.0.3.css"/>

    <script src="http://jvectormap.com/js/jquery-jvectormap-2.0.3.min.js"></script>

    <script src="http://jvectormap.com/js/jquery-jvectormap-world-mill.js"></script>

    <script src="http://jvectormap.com/js/gdp-data.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
